
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f8e9;
            margin: 0;
            padding: 20px;
        }

        .search-box {
            background-color: #ffffff;
            border: 2px solid #A5D6A7;
            border-radius: 15px;
            padding: 20px;
            width: 80%;
            margin: auto;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
            background: #2E7D32;
            color: white;
            padding: 12px;
            border-radius: 10px;
            margin-top: 0;
            margin-bottom: 20px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        }

        form {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            gap: 0;
        }

        input[type="text"] {
            width: 60%;
            padding: 10px;
            border-radius: 12px 0 0 12px;
            border: 2px solid #A5D6A7;
            font-size: 16px;
            outline: none;
        }

        button {
            background-color: #2E7D32;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 0 12px 12px 0;
            cursor: pointer;
            font-size: 16px;
            transition: 0.3s;
        }

        button:hover {
            background-color: #1B5E20;
        }

        ul { list-style: none; padding: 0; }

        li {
            background-color: #f1f8e9;
            border: 2px solid #A5D6A7;
            padding: 12px;
            margin-bottom: 10px;
            border-radius: 12px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1);
        }

        a {
            color: #2E7D32;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover { text-decoration: underline; }

        .no-result {
            text-align: center;
            padding: 10px;
            color: #d00609;
            font-weight: bold;
        }

        .btn-regresar {
            display: inline-block;
            background:#4CAF50;
            color:white;
            padding:10px 20px;
            border-radius:50px;
            text-decoration:none;
            font-weight:bold;
            margin-top: 20px;
        }

        .btn-descargar {
            display: inline-block;
            background: #388E3C;
            color: white;
            padding: 6px 12px;
            border-radius: 6px;
            text-decoration: none;
            font-size: 14px;
            margin-left: 8px;
        }

        .btn-descargar:hover {
            background: #1B5E20;
        }
    
